:root {
  --color-primary: #7dc6fa;
  --color-secondary: #67b2e8;
  --color-third: #0c6693;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #333;
  --color-light-gray: #eeeeeed4;
  --color-dark-gray: #a0a0a0;
  --color-hover-bg: rgba(255, 255, 255, 0.2);
  --color-button-hover-bg: #e6f9ff;
  --color-border: #ccc;
  --color-orange: #F77100;
  --color-brown: #a0744f;
  --color-red: #D8262F;
}
