@import './fontSize.css';

.h1-basic, .h1-bold, .h2-basic, .h2-bold, .h3-basic, .h3-bold, .p-basic, .p-bold {
  margin-top: 0px;
  color: var(--color-dark);
}

.h1-basic, .h1-bold {
  font-size: var(--font-size-h1);
}

.h2-basic, .h2-bold {
  font-size: var(--font-size-h2);
}

.h3-basic, .h3-bold {
  font-size: var(--font-size-h3);
}

.p-basic, .p-bold {
  font-size: var(--font-size-p);
}

[class$="bold"] {
  font-weight: bold;
}

.highlight1 {
  color: red;
}

.highlight2 {
  color: var(--color-secondary);
}

.action-button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: var(--color-hover-bg);
}