@import './colors.css';

.header {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;  
  flex-grow: 2;
}

.header nav {
  display: flex;
  justify-content: center;
  text-align: center;  
  flex-wrap: nowrap;  /* 이 속성으로 자식 요소들이 줄 바꿈되지 않도록 설정 */
  white-space: nowrap; /* 링크들이 줄 바꿈 없이 한 줄에 표시되도록 설정 */
  flex-grow: 1;
}

.header nav a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;

  flex-grow: 1;
}

.header nav a:hover {
  background-color: var(--color-hover-bg);
}

.header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header .header-btn {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.header .header-btn:hover {
  background-color: var(--color-button-hover-bg);
}

.header .language-select {
  display: inline-block;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: bold;

}

.language-dropdown {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-dropdown option {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.header.scrolled {
  background: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header.scrolled nav a {
  color: var(--color-dark);
}

.header.scrolled .header-btn {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.header.scrolled .language-dropdown {
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-iframe {
  flex: 1; /* 부모 요소의 나머지 공간을 채움 */
  border: none;
  display: block; /* 기본 block 속성 유지 */
  width: 100%; /* 부모 요소 너비를 완전히 채움 */
  height: 100%; /* 부모 요소 높이를 완전히 채움 */
}

.footer {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0;
  width: 100%; /* 화면 너비를 꽉 채움 */
  background-color: var(--color-dark); /* 배경색 */
  color: var(--color-white); /* 글자 색상 */
  padding: 15px 40px; /* 상하좌우 여백 */
  display: flex; /* Flexbox 레이아웃 */
  justify-content: space-between; /* 자식 요소를 양 끝으로 배치 */
  align-items: center; /* 수직 정렬 */
  z-index: 1000; /* 다른 요소보다 위에 표시 */
}

.footer .submit-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
}

.footer .submit-btn:hover {
  background-color: var(--color-primary);
}

/* 상단 메뉴바 무너지기 시작하는 크기 */
/* @media (max-width: 1591px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header .logo {
    margin-bottom: 15px;
  }

  .header nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .header nav a {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .language-select {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .header .header-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
} */