@import './colors.css';

.header {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.header .logo {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1vh;
  cursor: pointer;  
  flex-grow: 1;
  margin-left: 1.6vw;
}

.header nav {
  display: flex;
  justify-content: center;
  text-align: center;  
  flex-wrap: nowrap;  /* 이 속성으로 자식 요소들이 줄 바꿈되지 않도록 설정 */
  white-space: nowrap; /* 링크들이 줄 바꿈 없이 한 줄에 표시되도록 설정 */
  flex-grow: 1;
  gap: 1.7vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.header nav a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 0.5vh;
  transition: background-color 0.3s;
  font-weight: bold;
  flex-grow: 1;
}

.header nav a:hover {
  background-color: var(--color-hover-bg);
}

.header .header-right {
  display: flex;
  justify-content: flex-end; /* 요소를 오른쪽으로 정렬 */
  flex-grow: 1;
  margin-right: 1.6vw;
}

.header .header-btn {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: none;
  border-radius: 0.8vh;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  padding: 1vh 1vw;
}

.header .header-btn:hover {
  background-color: var(--color-button-hover-bg);
}

.header .language-select {
  display: inline-block;
  font-weight: bold;
  margin-right: 1vw;
}

.language-dropdown {
  background-color: transparent;
  color: var(--color-white);
  border: 0.3vh solid var(--color-white);
  border-radius: 3vh;
  font-size: 1.2rem;
  padding: 1.2vh 1vw;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.language-dropdown option {
  background-color: var(--color-white);
  color: var(--color-dark);
  /* 기본 화살표 숨기기 */
}

.header.scrolled {
  background: var(--color-white);
  color: var(--color-dark);
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}

.header.scrolled nav a {
  color: var(--color-dark);
}

.header.scrolled .header-btn {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.header.scrolled .language-dropdown {
  color: var(--color-dark);
  border: 0.3vh solid var(--color-dark);
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-iframe {
  flex: 1; /* 부모 요소의 나머지 공간을 채움 */
  border: none;
  display: block; /* 기본 block 속성 유지 */
  width: 100%; /* 부모 요소 너비를 완전히 채움 */
  height: 100%; /* 부모 요소 높이를 완전히 채움 */
}

.footer {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0;
  width: 100%; /* 화면 너비를 꽉 채움 */
  background-color: var(--color-dark); /* 배경색 */
  color: var(--color-white); /* 글자 색상 */
  padding: 2vh 4vw; /* 상하좌우 여백 */
  display: flex; /* Flexbox 레이아웃 */
  justify-content: space-between; /* 자식 요소를 양 끝으로 배치 */
  align-items: center; /* 수직 정렬 */
}

.footer .submit-btn {
  padding: 1.5vh 3vw;
  border: none;
  border-radius: 0.5vh;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer .submit-btn:hover {
  background-color: var(--color-primary);
}

/* 모바일 메뉴 */
.hamburger-menu {
  margin: 1vh;
  display: none;
  height: 10vh;
  cursor: pointer;
}

/* 헤더 변경 */
.header.small-screen .language-select {
  display: none;
}
.header.small-screen .header-btn {
  display: none;
}
.header.small-screen .hamburger-menu {
  display: flex;
}
.header.small-screen.scrolled .hamburger-menu {
  filter: invert(1) grayscale(100%) contrast(100%);
}
.header nav .header-btn {
  display: none;
}

/* 기본 상태에서 nav는 화면 밖에 위치 */
.header.small-screen nav {
  position: fixed;
  top: 70px;
  right: -100vw; /* 화면 밖으로 위치 */
  width: max-content;
  height: calc(100% - 70px);
  background-color: var(--color-white);
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease; /* 슬라이드 효과만 적용 */
  z-index: 1010;
}

/* nav가 보이도록 오른쪽으로 슬라이드 */
.header.small-screen.open nav {  
  right: 0; /* 화면 안으로 이동 */
}

/* 메뉴 항목 스타일 */
.header.small-screen nav a {
  color: var(--color-black);
  text-align: left;
  width: 100%;
  flex-grow: 0;
  border-radius: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative; /* ::after 가상 요소를 위한 상대적 위치 설정 */
}

/* a 요소 아래에 80% 너비의 까만 줄 추가 */
.header.small-screen nav a::after {
  margin-top: 1vh;
  content: '';
  position: absolute;
  bottom: -0.3vh;
  right: 5%;
  left: 5%;
  width: 90%; /* 너비 80% 설정 */
  height: 0.3vh; /* 줄 두께 */
  background-color: var(--color-light-gray); /* 줄 색상 */
}

/* nav가 보이도록 오른쪽으로 슬라이드 */
.header.small-screen.open nav {
  visibility: visible; /* 보이게 설정 */
  right: 0;
}

/* 언어 변경 */
.header.small-screen.open .language-select {
  display: block;
}

.header.small-screen nav .header-btn {
  display: block;  
  background-color: var(--color-secondary);
  color: var(--color-white);
  position: absolute; /* 절대 위치 지정 */
  bottom: 4%; /* 화면의 가장 아래에 배치 */
}

/* 오버레이 어두운 배경 */
.overlay.small-screen.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* 100% -> 100vh for height consistency */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* nav보다 아래 */
  display: block;
}

.footer.small-screen {
  position: inherit;
}