.container1 {
  width: 80%;
  text-align: center;
  align-items: center;
}

.container1 .buttons {
  width: 100%; /* 부모 컨테이너의 너비 */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 가로로 4개 */
  gap: 2vw; /* 버튼 간 간격 */
  justify-content: center; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 */
  padding-left: 20vw;
  padding-right: 20vw;
}

.container1 .buttons button {
  margin: 1%; /* 버튼 자체 마진 제거 */
  font-size: 1rem;
  cursor: pointer;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.container2 {
  width: 80%;
  padding-right: 4rem;
  padding-left: 4rem;
}

.container2 p {
  text-align: left;
}

/* 모바일 버전 */
@media (max-width: 785px) {
  .container1 .buttons button {
    font-size: 0.8rem;
    width: 20vw; /* 버튼 너비 */
  }
  .container2 {
    width: 100%;
    padding-right: 1vw;
    padding-left: 1vw;
  }
}