.container1 {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1vw;
}

.container1 .first-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.container1 .second-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.container1 .image-box {
  border: 4px solid var(--color-brown);
  text-align: center;
  padding: 1%;
}

.container1 .image-box h2 {
  color: var(--color-orange);
}

.image {
  max-width: 100%;
  height: auto;
}

.container1 .arrow img {
  width: 4vw;
  display: block;
}

.container2 {
  width: 80%;
}

.container2 .between-div {
  display: flex;
  margin-bottom: 1vh;
}

.container2 .between-div h2 {
  flex: 4;
  text-align: left; /* 왼쪽 정렬 */
  margin-right: 2vw;
}

.container2 .between-div p {
  flex: 8;
  text-align: left; /* 왼쪽 정렬 */
}

.container2 img {
  display: block;
  float: left;
  width: 200px;
  height: 100%;
  aspect-ratio: unset;
  object-fit: contain;
}

.container3 {
  width: 100%;
  color: var(--color-white);
}

.container3 p {
  color: var(--color-white);
}

.container3 .text-box-container {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin: 1vh 1vw;
}

.container3 .text-box {
  border: 4px solid var(--color-black);
  border-radius: 12px; /* 모서리 둥글게 */
  overflow: hidden; /* 모서리 둥근 영역 밖 내용 숨김 */
  text-align: center;
  width: 230px; /* 각 박스의 너비 */
  display: flex;
  flex-direction: column; /* 상하 배치 */
  aspect-ratio: 1.2 / 1; /* 너비와 높이의 비율 (정사각형) */
}

.container3 .box-up, .container3 .box-down {
  flex: 1; /* 동일한 높이로 설정 */
  display: flex;
  justify-content: center;
  align-items: center; /* 가운데 정렬 */
  font-weight: bold; /* 글자 굵게 */
}

.container3 .box-up {
  background-color: var(--color-black);
  font-size: 1.3rem;
}

.container3 .box-down {
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 2rem;
}

.container4 {
  width: 80%;
}

.container4 .gif-container p,
.container4 .gif-container h3,
.container4 .img-container p,
.container4 .img-container h3 {
  text-align: left; /* 왼쪽 정렬 */
}

.container4 .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.container4 .img-container img {
  max-width: 40vw;
  height: auto;
  object-fit: contain;
  margin-right: 4vw;
}

.container4 .gif-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container5 img {
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
  object-fit: contain;
}

.container5 .image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container5 .image-box4 {
  display: grid;
  grid-template-rows: 3fr 1fr; 
}

.container5 .image-container2 {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4vh;
}

.container5 .image-box3 .image {
  width: 100%; /* 이미지를 박스 크기에 맞게 조정 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
  aspect-ratio: 1 / 1;
  object-fit: contain; /* 비율을 유지하면서 컨테이너를 채움 */
  display: block; /* 불필요한 여백 제거 */
  padding: 10px;
  border-radius: 40px;
  background-color: var(--color-white);
  margin-bottom: 10px;
}

@media (max-width: 785px) {
  .container1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* 화면 크기에 따라 자동으로 줄바꿈 */
    justify-content: flex-end;
  }
  
  .container1 .arrow img {
    width: 8vw;
  }

  .container1 .arrow.down {
    margin-right: 13vw;
    transform: rotate(90deg);
  }

  .container1 .arrow.left {
    transform: rotate(180deg);
  }

  .container1 .second-div {
    flex-direction: row-reverse;
  }

  .container2 {
    width: 100%;
    padding: 4vw;
  }

  .container3 .box-up {
    font-size: 0.8em;
  }

  .container4 {
    width: 100%;
    padding: 4vw;
  }

  .container4 .img-container {
    display: flex;
    flex-direction: column;
  }

  .container4 .img-container img {
    max-width: 100%;
    height: 100%;
    aspect-ratio: unset;
    object-fit: contain;
    margin-bottom: 0.4vh;
  }

  .container4 .gif-container {
    flex-direction: column; /* 요소들을 수직으로 배치 */
  }

  .container5 {
    width: 100%;
    padding: 4vw;
  }

  .container5 h1 {
    font-size: 1.8rem;
  }

  .container5 .image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container5 .image-container2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .container5 .image-box4 h3 {
    font-size: 1rem;
  }

  .container5 .image-box3 h3 {
    font-size: 1rem;
  }
}