@import './fontSize.css';

.container0 h1,
.container0 h3,
.container0 button {
  margin-bottom: 0.4vh;
}

.container1 {
  width: 36%;
}

.container1 .container1-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4vh;
  margin-top: 0.8vh;
}

.container1 .container1-steps .step {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container1 .container1-steps .step-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.container2 {
  width: 80%;
  display: flex;
  flex-direction: column;  
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 (필요한 경우) */
  gap: 0.4vh;
}

.container2 .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4vh;
}

.container2 .features .feature {
  display: grid;
  gap: 0.4vh;
}

.container2 .features .feature img {
  border-radius: 10px;
  border: 1px solid var(--color-light-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  object-fit: cover;
}


.container2 .features .feature .feature-content {
  display: flex;
  flex-direction: column;
}

.container2 button {
  margin-top: 0.4vh;
}

.container3 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container3 .text-container {
  text-align: left;
}

.container3 img {
  width: 30%;
}

@media (max-width: 768px) {
  .container1 {
    width: 100%;
  }

  .container2 {
    width: 100%;
  }

  .container2 .features {
    display: flex;
    flex-direction: column;
  }

  .container3 {
    width: 100%;
    flex-direction: column-reverse;
  }

  .container3 img {
    width: 80%;
    margin-bottom: 0.6vh;
  }
}
