.container1 {
  width: 80%;
}

.container1 .img-container {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin-top: 5%;
  margin-bottom: 5%;
}

.container1 .img-container img {
  width: 36vw;
  height: auto;
  object-fit: contain;
  margin-right: 4vw;
}

.img-container h1, .img-container p {
  text-align: left; /* 왼쪽 정렬 */
}

.img-container h1 {
  margin-bottom: 2%;
}

.container2 {
  width: 80%;
  padding-right: 4rem;
  padding-left: 4rem;
}

.container2 p {
  text-align: left;
}

.marquee {
  position: relative;
  width: 80%;
  height: 50px;
  background: url('../images/page5/1.png') repeat-x; /* 반복 배경 */
  background-size: contain; /* 이미지 크기 조정 */
  animation: slide-bg 20s linear infinite; /* 배경 스크롤 애니메이션 */
  margin-bottom: 3%;
}

@keyframes slide-bg {
  0% {
    background-position: 0 0; /* 시작 위치 */
  }
  100% {
    background-position: -100% 0; /* 끝 위치 */
  }
}

@media (max-width: 785px) {
  .container1 {
    width: 100%;
    padding: 4vw;
  }

  .container1 .img-container {
    flex-direction: column; /* 요소들을 수직으로 배치 */
    align-items: flex-start; /* 요소를 왼쪽 정렬 */
  }

  .container1 .img-container img {
    width: 100%;
    margin: 0;
    margin-bottom: 0.2vh;
  }

  .container1 .img-container h1,
  .container1 .img-container p {
    text-align: left; /* 텍스트를 왼쪽 정렬 */
  }

  .container2 {
    width: 100%;
    padding: 4vw;
  }
}