.container1 {
  width: 80%;
}

.img-container {
  display: flex;
  gap: 90px;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-container img {
  width: 36%;
}

.img-container h1, .img-container p {
  text-align: left; /* 왼쪽 정렬 */
}

.img-container h1 {
  margin-bottom: 2%;
}

.marquee {
  position: relative;
  width: 80%;
  height: 50px;
  background: url('../images/page5/1.png') repeat-x; /* 반복 배경 */
  background-size: contain; /* 이미지 크기 조정 */
  animation: scroll-bg 20s linear infinite; /* 배경 스크롤 애니메이션 */
  margin-bottom: 3%;
}

@keyframes scroll-bg {
  0% {
    background-position: 0 0; /* 시작 위치 */
  }
  100% {
    background-position: -100% 0; /* 왼쪽으로 이동 */
  }
}
