.container1 {
    width: 100%;
    text-align: center;
}
.container1 .buttons {
    margin: 2rem;
}
.container1 .buttons button {
    margin: 0.5rem; /* 버튼들 사이의 여백 */
}
.container2 {
    width: 80%;
    padding-right: 4rem;
    padding-left: 4rem;
}

.container2 p {
    text-align: left;
}