@import './fontSize.css';

.container1-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width:800px;
  margin: 30px;
}

.container1-info {
  text-align: left;
  margin-bottom: 4%;
}

.map {
  width: 100%;
  height: 400px;
}

.info-box {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
}

.info-box p {
  text-align: left;
}

@media (max-width: 768px) {
  .container1-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto; /* 가로 중앙 정렬 */
    padding: 20px; /* 내부 여백 추가 */
    text-align: center; /* 내부 요소 텍스트 중앙 정렬 */
  }

  .container1-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .container1-info p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .map {
    height: 300px;
    margin: 0 auto; /* 가로 중앙 정렬 */
  }

  .info-box {
    font-size: 12px;
    padding: 8px 0;
    text-align: start;
    height: auto;
  }

  .info-box p {
    text-align: center;
  }
}

